{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<!-- <div>
    <p>{{profit_p_product}}</p>
    <p>{{profit_p_day}}</p>
    <p>{{sales_p_product}}</p>
    <p>{{sales_p_day}}</p>
</div> -->
<div>
    <p>{{product_name}}</p>
    <p>{{p_profit}}</p>
    <p>{{p_sales}}</p>
</div><br>
<div>
    <canvas id="bar-chart" width="800" height="450"></canvas>
</div><br>
<div>
    <canvas id="line-chart" width="800" height="450"></canvas>
</div><br>
<div>
    <canvas id="line-chart-2" width="800" height="450"></canvas>
</div><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    // Bar chart
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: {{ product_name | safe}},    // x-axis
        // y-axis
        datasets: [
        {
            label: "Sales per product",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: {{ p_sales | safe}}
                    },
        {
            label: "Profit per product",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: {{ p_profit | safe}}
                    },
    ]
            },
        options: {
        legend: { display: false },
        title: {
            display: true,
            text: 'Sales and Profit per Product'
        }
    }
        });

    // Line chart 2
    new Chart(document.getElementById("line-chart-2"), {
        type: 'line',
        data: {
            labels: {{ date | safe}},    // x-axis
        // y-axis
        datasets: [{
            data: {{ p_day | safe}},
        label: "Products per Day",
        borderColor: "#3e95cd",
        fill: false
                }, {
            data: {{ s_day | safe}},
        label: "Sales per Day",
        borderColor: "#8e5ea2",
        fill: false
                },
    ]
            },
        options: {
        title: {
            display: true,
            text: 'Sales and Profit per Day'
        }
    }
        });

    // Line chart
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: {{ product_name | safe}},    // x-axis
        // y-axis
        datasets: [{
            data: {{ p_sales | safe}},
        label: "Sales per product",
        borderColor: "#3e95cd",
        fill: false
                }, {
            data: {{ p_profit | safe}},
        label: "Profit per product",
        borderColor: "#8e5ea2",
        fill: false
                },
    ]
            },
        options: {
        title: {
            display: true,
            text: 'Sales and Profit per Product'
        }
    }
        });
</script>
{% endblock %}