{% extends "base.html" %}
{% block title %} Sample Page {% endblock %}

{% block content %}
<div class="container">
  <!-- <div>
              {% if data %}
              <p>Hello, {{data}}</p>
              MYDUKA APPLICATION - Home page returned with render_template()
              {% else %}
              <p>Data not provided</p>
              {% endif %}
          </div>
          <div>
              {% if data_dict %}
              <p>Hello, {{data_dict}}</p>
              MYDUKA APPLICATION - Home page returned with render_template()
              {% else %}
              <p>Data not provided</p>
              {% endif %}
          </div> -->
  <!-- <div>
              {% for number in numbers %}  starting point
              <ul>
                  <li>{{number}}</li>
              </ul>
              {% endfor %}  ending point
          </div> -->
</div>
{% endblock %}