{% extends "base.html" %}
{% block title %} Products {% endblock %}

{% block content %}
<div class="container">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Products Here
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body">
          <form action="/add_products" method="post">
            <div class="mb-3">
              <label for="exampleInputProductName" class="form-label">Product Name</label>
              <input type="text" class="form-control" name="p-name" id="exampleInputProductName"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputBuyingPrice" class="form-label">Buying Price</label>
              <input type="number" class="form-control" name="b-price" id="exampleInputBuyingPrice">
            </div>
            <div class="mb-3">
              <label for="exampleInputSellingPrice" class="form-label">Selling Price</label>
              <input type="number" class="form-control" name="s-price" id="exampleInputSellingPrice">
            </div>
            <div class="mb-3">
              <label for="exampleInputStockQuantity" class="form-label">Stock Quantity</label>
              <input type="number" class="form-control" name="quantity" id="exampleInputStockQuantity">
            </div><br>
            <!-- <button type="submit" class="btn btn-primary">Add Product</button> -->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Product</button>
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add Product</button>
        </div> -->
      </div>
    </div>
  </div>

</div>
<!-- <div>
        <p>My Products Page</p>
        <p>{{products}}</p>
        {% for product in products %}
        <ul>
            <li>{{product}}</li>
        </ul>
        {% endfor %}
    </div> -->
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Selling Price</th>
        <th scope="col">Stock Quantity</th>
      </tr>
    </thead>
    <tbody>
      We're going to loop through our products

      {% for product in products %}
      <tr>
        <td>{{product[0]}}</td>
        <td>{{product[1]}}</td>
        <td>{{product[2]}}</td>
        <td>{{product[3]}}</td>
        <td>{{product[4]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}