{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}

{% block content %}
<div>
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="exampleInputFullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="full-name" id="exampleInputFullName"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPhoneNumber" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" name="phone-number" id="exampleInputPhoneNumber">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword">
        </div><br>
        <!-- <button type="submit" class="btn btn-primary">Add Product</button> -->
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{% endblock %}
