{% extends "base.html" %}
{% block title %} Sales {% endblock %}

{% block content %}
<!-- <div class="container">
    <form action="/add_sales" method="post">
      <div class="mb-3">
        <label for="exampleInputProductID" class="form-label">Product ID</label>
        <input type="text" class="form-control" name="p-id" id="exampleInputProductID" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputQuantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" name="quantity" id="exampleInputQuantity">
      </div>
      <div class="mb-3">
        <label for="exampleInputCreatedAt" class="form-label">Created At</label>
        <input type="text" class="form-control" name="created-at" id="exampleCreatedAt">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div> -->
<!-- This is my sales page. -->
<div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Make Sale
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
        <div class="modal-body">
          <form action="/make_sale" method="post">
            <div>
              <select name="p-id">
                <option value="">Select a product</option>
                {% for product in products %}
                <option value="{{product[0]}}">{{product[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <label for="">Quantity</label><br>
              <input type="text" name="quantity">
            </div><br>
            <!-- <div>
            <button type="submit">Make Sale</button>
          </div> -->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Make Sale</button>
          </form>
        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Make Sale</button>
      </div> -->
      </div>
    </div>
  </div>

</div>
<!-- <div>
        <p>My Sales Page</p>
        <p>{{sales}}</p>
        {% for sale in sales %}
        <ul>
            <li>{{sale}}</li>
        </ul>
        {% endfor %}
    </div> -->
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sales ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      We're going to loop through our sales

      {% for sale in sales %}
      <tr>
        <td>{{sale[0]}}</td>
        <td>{{sale[1]}}</td>
        <td>{{sale[2]}}</td>
        <td>{{sale[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}