{% extends "base.html" %}
{% block title %} Stock {% endblock %}

{% block content %}
<div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Stock
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
        <div class="modal-body">
          <form action="/add_stock" method="post">
            <div>
              <select name="p-id">
                <option value="">Select a product</option>
                {% for product in products %}
                <option value="{{product[0]}}">{{product[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <label for="">Stock Quantity</label><br>
              <input type="text" name="stock-quantity">
            </div><br>
            <!-- <div>
            <button type="submit">Make Sale</button>
          </div> -->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Stock</button>
          </form>
        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Make Sale</button>
      </div> -->
      </div>
    </div>
  </div>
  <div>
    <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Stock ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Stock Quantity</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      We're going to loop through our stocks

      {% for s in stock %}
      <tr>
        <td>{{s[0]}}</td>
        <td>{{s[1]}}</td>
        <td>{{s[2]}}</td>
        <td>{{s[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> -->
    <table id="example" class="table table-striped">
      <thead>
        <tr>
          <th>Stock ID</th>
          <th>Product ID</th>
          <th>Stock Quantity</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        {% for s in stock %}
        <tr>
          <td>{{s[0]}}</td>
          <td>{{s[1]}}</td>
          <td>{{s[2]}}</td>
          <td>{{s[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
      <!-- <tfoot>
        <tr>
          <th>Stock ID</th>
          <th>Product ID</th>
          <th>Stock Quantity</th>
          <th>Created At</th>
        </tr>
      </tfoot> -->
    </table>
  </div>
</div>
{% endblock %}
